<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>All Rights Reserved | Copyright by Jaime Orellana © 2016</p>
        </div>

        <div class="pull-right fnav">
            <ul class="footer-social">

                <li><a href="mailto:jaime.orellana789@gmail.com">
                    <i class="fa fa-at"></i>
                </a></li>

                <li><a href="https://www.linkedin.com/in/jaimeorellana">
                    <i class="fa fa-linkedin-square"></i>
                </a></li>

                <li><a href="https://github.com/jaime5">
                    <i class="fa fa-github"></i>
                </a></li>

                <li><a href="https://www.facebook.com/JaimeAOrellana2">
                    <i class="fa fa-facebook"></i>
                </a></li>

                <li><a href="https://twitter.com/NightshadeTrie">
                    <i class="fa fa-twitter"></i>
                </a></li>

            </ul>
        </div>
    </div>
</nav>
