{% load static from staticfiles %}

<div id="tf-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <img class="img-responsive"
                     src="{% static 'img/me.png' %}">

            </div>

            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <h4>Developer, Engineer, Leader</h4>
                        <h2>
                            <strong>
                                About Me
                            </strong>
                        </h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>

                    <p class="intro">
                        I am currently a college student aiming to make
                        difference to the world.

                        My blood is derived from South America indigenous
                        roots of the Aymara; also being the first to be given
                        the opportunity to attend college.

                        On my freetime I attend tons of Hackathons across the
                        United States.
                    </p>

                    <a class="btn tf-btn btn-default" href=
                            "{% static 'docs/OrellanaJaimeResume.pdf' %}">
                        Resumé
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

