{% load static from staticfiles %}
<!-- Portfolio Section
==========================================
-->
<div id="tf-works">
    <div class="container"> <!-- Container -->
        <div class="section-title text-center center">
            <h2>
                <strong>
                    Projects
                </strong>
            </h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
            <small><em>
                - Enclosed are some of the projects I've worked on in the
                past with my amazing team: "Sabbir, and Ana"
            </em></small>
        </div>
        <div class="space"></div>

        {% include "main/projects/princetonhacks.html" %}

        {% include "main/projects/hoyahacks.html" %}

        {% include "main/projects/kindrone.html" %}

    </div>
</div>
