{% load static from staticfiles %}

<div id="tf-team" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2><strong>Adventures</strong></h2>

                <div class="line">
                    <hr>
                </div>
            </div>

            <div id="team" class="owl-carousel owl-theme row">
                <div class="item">
                    <div class="thumbnail">

                        <img src="{% static 'img/mhacks.png' %}"
                             class="team-img">
                        <div class="caption">

                            <h3>
                                MHacks Spring 2016
                            </h3>
                            <p>
                                A family photo near the end of MHacks.
                            </p>
                            <p>
                                Even though we were headed for the twelve
                                hour long bus ride back to Maryland, we were
                                still determined to get back.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static 'img/intel.png' %}"
                             class="team-img">
                        <div class="caption">

                            <h3>Tech Trek 2016</h3>
                            <p>
                                With Code2040 family at Intel
                            </p>
                            <p>
                                I'm thankful for being part of the first
                                TechTrek; filled with tons of people like me
                                who are representing PoC in tech.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static 'img/judging.png' %}"
                             class="team-img">
                        <div class="caption">

                            <h3>HackUMBC Spring 2016</h3>
                            <p>
                                Recollecting thoughts for final judging
                            </p>
                            <p>
                                It was extremely difficult deciding the
                                winners.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{% static 'img/hackfamilia.png' %}"
                             class="team-img">
                        <div class="caption">

                            <h3>HackUMBC 2016 Team</h3>
                            <p>Group Photo with my Hackathon Family</p>
                            <p>
                                A great team full of inspirational leaders
                                and hardworking individuals.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
