<div id="tf-testimonials" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>
                    <strong>
                        Inspiring
                    </strong>
                    Quotes
                </h2>
                <div class="line">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testimonial" class="owl-carousel owl-theme">

                        <div class="item">
                            <h5>
                                This the real world, homie, school finished
                                <br>
                                They done stole your dreams, you dunno who did
                                it
                            </h5>
                            <p>
                                <strong>
                                    Kanye West
                                </strong>
                                , "Gorgeous"
                            </p>
                        </div>

                        <div class="item">
                            <h5>
                                The philosophers have only interpreted the
                                world, in various ways.
                                <br>
                                The point, however, is to change it.
                            </h5>
                            <p>
                                <strong>
                                    Karl Marx
                                </strong>
                                , Eleven Thesus on Feuerbach
                            </p>
                        </div>

                        <div class="item">
                            <h5>
                                I move onward, the only direction
                                <br>
                                Can’t be scared to fail in the search of
                                perfection
                            </h5>
                            <p>
                                <strong>
                                    Jay Z
                                </strong>
                                , "Onto the Next One"
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>