{% load staticfiles %}

<div id="lightbox" class="row about-text">
    <div class="section-title text-left left">
        <h2>
            Major Way
        </h2>
        <div class="line">
            <hr>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-6 branding">
            <div class="portfolio-item">
                <div class="hover-bg">
                    <a href="http://devpost.com/software/major-way">
                        <div class="hover-text">
                            <h4>Major Way Project Details</h4>
                            <small>Hosted by DevPost</small>
                            <div class="clearfix"></div>
                            <i class="fa fa-plus"></i>
                        </div>
                        <img src="
                        {% static 'img/hoyahacks.png' %}"
                             class="img-responsive"
                             style="width:100%">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 branding">
            <div class="portfolio-item">
                <p class="intro">
                <ul class="about-list">
                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>
                            HoyaHacks @ Georgetown University | Best
                            Education Hack
                        </strong>

                        <em>

                        </em>
                    </li>

                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>About</strong>
                        :
                        We created a web app that provide STEM majors a
                        outlines all the different areas of study in their
                        major. We used graph intersection and NLP python
                        packages.

                    </li>

                    <li>
                        <span class="fa fa-dot-circle-o"></span>
                        <strong>Tools</strong>
                        :
                        <em>
                            Python, JavaScript, Bootstrap, Jquery, Flask and
                            Natural Language Processing
                        </em>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>