<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title | default: site.title }}</title>
    <meta name="author" content="Jaime5">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ '/static/img/favicon.ico' | relative_url }}">
    <link href="{{ '/static/css/bootstrap.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/static/css/starter-template.css' | relative_url }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/static/fontawesome/css/all.min.css' | relative_url }}">
  </head>
  <body>
    <main role="main" class="container">
      {{ content }}
    </main>

    <script src="{{ '/static/js/jquery-3.js' | relative_url }}"></script>
    <script src="{{ '/static/js/popper.js' | relative_url }}"></script>
    <script src="{{ '/static/js/bootstrap.js' | relative_url }}"></script>
  </body>
</html>
