<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1>
                <strong>
                    <span class="color">
                        Journey
                    </span>
                </strong>
                And
                <strong>
                    <span class="color">
                        Omnipotence
                    </span>
                </strong>
            </h1>

            <p class="lead">
                I tell others:
                be fearless approaching any
                <strong>
                    journey
                </strong>
                <br>
                Show
                <strong>
                    omnipotence
                </strong>
                toward any challenge.
                <br>
                Never be a number, be a
                <strong>
                    delta
                </strong>
                to the world.

            </p>
            <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>
